[submodule "ccode/libevent"]
	path = ccode/libevent
	url = https://github.com/libevent/libevent.git
[submodule "ccode/WebBench"]
	path = ccode/WebBench
	url = https://github.com/EZLippi/WebBench.git
[submodule "cppcode/grpc"]
	path = cppcode/grpc
	url = https://github.com/grpc/grpc.git
